<template>
    <div>
        <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>
        <h2>Buildings</h2>
            <form @submit.prevent="addBuilding" class="mb-3">
            
                <div class="form-group">
                <label for="building">Building Name</label>
                <input type="text" name="building" v-bind:class="{ 'invalid' : errors.BuildingName}" class="form-control" v-model="building.BuildingName">
                </div>

                <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" v-bind:class="{ 'invalid' : errors.Description}" class="form-control" v-model="building.Description">
                </div>

                <div class="alert alert-danger" v-if="duplicate === true">
                        Building Already Exists!
                </div>
                 <div class="alert alert-success" v-else-if="duplicate === false">
                        Successfully {{ status }}
                </div>
                <button type="submit" class="btn btn-primary">{{btnName}} Building</button>
        </form>
          <br>
          <ul class="pagination">
            <li class="page-item" v-bind:class="{disabled: !pagination.prev_page_url}"><a class="page-link" href="#" v-on:click="getAllBuildings(pagination.prev_page_url)">Previous</a></li>
            <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{ pagination.current_page }} of {{ pagination.last_page }}</a></li>
            <li class="page-item" v-bind:class="{disabled: !pagination.next_page_url}"><a class="page-link" href="#"  v-on:click="getAllBuildings(pagination.next_page_url)">Next</a></li>
</ul>
        <table class="table table-hover">
    <thead>
      <tr>
        <th>Building ID</th>
        <th>Building Name</th>
        <th>Description</th>
        <th>Created Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="building in buildings" v-bind:key="building.BuildingID">
          <td>{{ building.BuildingID }}</td>
          <td>{{ building.BuildingName }}</td>
          <td>{{ building.Description }}</td>
          <td>{{ building.created_at }}</td>
          <td><button type="button" class="btn btn-primary" v-on:click="editBuilding(building)">Edit</button> <button type="button" class="btn" v-on:click="deletePrompt(building)">Delete</button></td>
          
      </tr>
    </tbody>
  </table>
  <sweet-modal icon="success" ref="added">
      {{status}} Successfully!
    </sweet-modal>
  <sweet-modal icon="success" ref="success">
      Deleted Successfully!
    </sweet-modal>
  <sweet-modal ref="modal">
      Are you sure?
      <button slot="button" class="btn btn-success" @click="deleteBuilding()">Yes</button>
      <button slot="button" class="btn btn-danger" style="margin-left:10px" @click="closeModal()">No</button>
      </sweet-modal>
    </div>
</template>

<script>

//import sweet modal for alerts
import { SweetModal, SweetModalTab } from 'sweet-modal-vue'
// Import component
import Loading from 'vue-loading-overlay';
    // Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
    components: {
		SweetModal,
        SweetModalTab,
        Loading
	},
    data() {
        return {
            buildings:[],
            building: {
                'BuildingID':'',
                'BuildingName':'',
                'Description' : ''
            },
            selectedId:'',
            errors: [],
            duplicate: null,
            pagination: {},
            auth: {
                'auth_token':''
            },
            edit:false,
            status: '',
            btnName:'Add',
            isLoading: false,
            fullPage: true
        }
    },

    //initialize methods to run at the start of component
    created() {
        this.checkifLogged();
    },

    methods: {
         LoadingToggle() {
                if(this.isLoading) {
                    this.isLoading = false;
                } else {
                    this.isLoading = true;
                }
            },
        //check if user is logged in
        checkifLogged() {
            this.LoadingToggle();
             fetch('api/logged')
        .then(res => res.json())
        .then(res => {
            if(res.data) {
                this.auth.auth_token = res.auth_token;
                this.getAllBuildings('', true);
            } else {
                window.location.href = '/'
            }})
        },

        //get all buildings
        getAllBuildings(page_url, isFirst) {
            let vm = this;
            page_url = page_url || '/api/paginatedbuildings';
            fetch(page_url)
            .then(res => res.json())
            .then(res => { 
                console.log(res)
                this.buildings = res.data 
                vm.makePagination(res);
                if(isFirst) {
                this.LoadingToggle();
                 }
                })
        },

        //handles the updating and adding of the building
        addBuilding() {
            this.duplicate = null;
            if(this.edit == false) {
                fetch('api/buildings', {
                method: 'POST',
                body: JSON.stringify(this.building),
                headers: {
                    'content-type':'application/json'
                }
            }).then(res => res.json())
            .then(res => {
                console.log(res)
                this.errors = res
                if(res.Success) {
                    this.status = "Added!";
                    this.duplicate = false;
                    this.emptyFields();
                    this.getAllBuildings();
                    this.successPrompt();
                } else if(res.Error) {
                   this.duplicate = true;
                }
            })
            } else {
                fetch('api/buildings/' + this.building.BuildingID, {
                method: 'PUT',
                body: JSON.stringify(this.building),
                headers: {
                    'content-type':'application/json'
                }
            }).then(res => res.json())
            .then(res => {
                console.log(res)
                this.errors = res
                if(res.Success) {
                    this.status = "Updated!";
                    this.duplicate = false;
                    this.emptyFields();
                    this.getAllBuildings();
                    this.successPrompt();
                } else if(res.Error) {
                   this.duplicate = true;
                }
            })
            }
        },

        //empty fields of the form
        emptyFields() {
                    this.building.BuildingID = '';
                    this.building.BuildingName = '';
                    this.building.Description = '';
                    this.btnName = 'Add';
                    this.edit = false;
        },

        //a success alert for adding and updating
        successPrompt() {
            this.$refs.added.open();
        },

        //populate the form for editing
        editBuilding(selectedBuilding) {
            this.building.BuildingID = selectedBuilding.BuildingID;
            this.building.BuildingName = selectedBuilding.BuildingName;
            this.building.Description = selectedBuilding.Description;
            this.btnName = 'Edit';
            this.edit = true;
            this.resetFormError();
        },
         //reset form errors
        resetFormError() {
            this.duplicate = null;
            this.errors = {};

        },
        //an alert for deletion confirmation
        deletePrompt(selectedBuilding) {        
        this.selectedId = selectedBuilding.BuildingID;
         this.emptyFields();
        this.resetFormError();
        this.$refs.modal.open();
        },

        //deletion of building calls to api
        deleteBuilding() {
            fetch('api/buildings/' + this.selectedId, {
                method: 'DELETE',
                headers: {
                    'content-type':'application/json'
                }
        }).then(res => res.json())
        .then(res => {
            this.$refs.modal.close();
            this.getAllBuildings()
            this.$refs.success.open();
        }) 
        },

        //closes the modal
        closeModal() {
            this.$refs.modal.close();
        },

        //handles the pagination of data
        makePagination(meta) {
            let pagination = {
                current_page: meta.current_page,
                last_page: meta.last_page,
                next_page_url:meta.next_page_url,
                prev_page_url:meta.prev_page_url
            };
            this.pagination = pagination;
        }
    }
}
</script>