<template>
<div>
    <h2>Guest Registration</h2>
    <form @submit.prevent="loginUser" class="mb-3">
        <div class="form-group">
        Email:<input type="text" v-model="user.Email" class="form-control" v-bind:class="{ 'is-invalid' : errors.Email}" name="Username" id="Username" placeholder="your email address.."/>
        </div>
        <div class="form-group">
        Password:<input type="password" v-model="user.Password" class="form-control"  v-bind:class="{ 'is-invalid' : errors.Password}" name="Password" id="Password" placeholder="your email address.."/>
        </div>
        <div class="alert alert-danger" v-if="errors.Error">
                        {{ errors.Error }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark btn-block">Login</button>
        </div>
    </form>
</div>
</template>

<script>
export default {
    data() {
        return {
            users: [],
            user: {
                'Email': '',
                'Password': ''
            },
            logged : '',
            errors: [],
            error: ''
        };
    },
    //initialize
    created() {
        fetch('api/logged')
        .then(res => res.json())
        .then(res => {
            if(res.data) {
                window.location.href = '/dashboard';
            }
        })
    },

    methods: {

        //login the user
        loginUser() {
            fetch('api/login', {
                method: 'post',
                body: JSON.stringify(this.user),
                headers: {
                    'content-type' : 'application/json'
                }
            })
            .then(res => res.json())
            .then(res => {
                this.errors = res; 
                console.log(res);
                if(res.Success) {
                    window.location.href = '/dashboard';
                }
                })
        }
    }
}
</script>