<template>
<div class="navhead">
    <span v-if="User.Username">Welcome, {{ User.Username }}</span>
    <button type="button" v-on:click="logOut" class="btn btn-primary" style="float:right">Log out</button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            Users: [],
            User: {
                'auth_token':''
            },
        }
    },

    //initialize
    created() {
       this.checkifLogged();
    },

    methods: {

        //check if user is logged in
        checkifLogged() {
             fetch('api/logged')
        .then(res => res.json())
        .then(res => {
            if(res.data) {
                this.User.auth_token = res.auth_token;
                this.User.UserID = res.UserID;
                this.getUser();
            } else {
                window.location.href = '/'
            }})
        },

        //get the logged in user info
        getUser() {
           fetch('api/users/' + this.User.UserID)
           .then(res => res.json())
            .then(res => {
                this.User = res[0]
            })
        },


        //handles the logout button
        logOut() {
            fetch('api/logout')
            .then(res => res.json())
            .then(res => {
                console.log(res)
                window.location.href = '/'
            })
        }
    }
}
</script>