<template>
    <div class="cent">
        <h1><img src='images/globalland.jpg' style='width:200px; height:200px'>Guest Registration</h1>
        <form @submit.prevent="registerGuest" class="mb-3" id="guestForm">
            <div class="form-group">
                <label for="GuestName">Guest Name</label>
                <input type="text" name="GuestName" class="form-control" v-bind:class="{'invalid' : errors.GuestName}" v-model="guest.GuestName"/>
            </div>
            <div class="form-group">
                <label for="Mobile">Mobile</label>
                <input type="text" name="Mobile" class="form-control" v-bind:class="{'invalid' : errors.Mobile}" v-model="guest.Mobile"/>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" name="Email" class="form-control" v-bind:class="{'invalid' : errors.Email}" v-model="guest.Email"/>
            </div>
             <div class="form-group">
                <label for="TypeOfVisit">Type Of Visit</label>
                <select name="TypeOfVisit" class="form-control" v-model="guest.TypeOfVisitID" v-bind:class="{'invalid' : errors.TypeOfVisitID}">
                    <option v-for="visit in visits" v-bind:key="visit.TypeOfVisitID" v-bind:value="visit.TypeOfVisitID">
                        {{ visit.TypeOfVisit }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                 <label for="Location">Location</label>
                <input type="text" name="Location" class="form-control" v-bind:class="{'invalid' : errors.Location}" v-model="guest.Location"/>
            </div>
            <div class="form-group">
                <label class="btn btn-image"> <input type="file" ref="file" style="display: none;" v-on:change="fileChange"></label>
            </div>
            <button type="submit" style="float:right" class="btn btn-primary">Register</button>
        </form>
         <sweet-modal icon="success" ref="added">
      Added Successfully!
    </sweet-modal>
        <sweet-modal icon="error" ref="error">
        Error!
        </sweet-modal>
        </div>
</template>

<script>
import { SweetModal, SweetModalTab } from 'sweet-modal-vue'

export default {
    components: {
        SweetModal,
        SweetModalTab
    },
    created() {
        this.getAllVisitType();
    },
    data() {
        return {
            guest: {
                'GuestName':'',
                'Mobile':'',
                'Email':'',
                'TypeOfVisitID':'',
                'Location':''
            },
            visits: {},
            visit: {
                'TypeOfVisitID':'',
                'TypeOfVisit':''
            },
            errors:{},
            file:''
        }
    },
    methods: {
        fileChange() {
            this.file = this.$refs.file.files[0];
        },
        successPrompt() {
            this.$refs.added.open();
        },
        errorPrompt() {
            this.$refs.error.open();
        },
        registerGuest() {
            let formData = new FormData();
            formData.append('guestData', JSON.stringify(this.guest));
            formData.append('file', this.file);
            
            fetch('api/guests', {
                method: 'POST',
                body: formData,
            }).then(res => res.json())
            .then(res => {
                this.errors = res;
                if(res.success) {
                    this.guest = {
                    'GuestName':'',
                    'Mobile':'',
                    'Email':'',
                    'TypeOfVisitID':'',
                    'Location':''
            }
                    this.successPrompt();
                } else if(res.error){
                    this.errorPrompt();
                }
            })
        },

        getAllVisitType() {
            fetch('api/tovisits')
            .then(res => res.json())
            .then(res => {
                this.visits = res;
            })
        }
    }
}
</script>