<template>
    <div>
    <!-- The sidebar -->
    <div class="sidebar">
    <a href="/dashboard" v-bind:class="{ 'active' : pages.dashboard}">Dashboard</a>
    <a href="/users" v-bind:class="{ 'active' : pages.users}">Users</a>
    <a href="/usertypes" v-bind:class="{ 'active' : pages.usertype}">User Types</a>
    <a href="/buildings" v-bind:class="{ 'active' : pages.building}">Buildings</a>
    <a href="/visits" v-bind:class="{ 'active' : pages.tovisit}">Type Of Visits</a>
    </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            pages: {
                'dashboard':'',
                'users':'',
                'usertype':'',
                'building':'',
                'tovisit':''
            }
        }
    },

    //initialize needed method at the start
    created() {
       this.setSidebarSelection();
    },

    methods: {

        //set sidebar selection
        
        setSidebarSelection() {
             var url = window.location.href;
        if(url.includes('dashboard')) {
            this.pages.dashboard = true;
        } else if(url.includes('users')) {
            this.pages.users = true;
        } else if(url.includes('usertype')) {
            this.pages.usertype = true;
        } else if(url.includes('buildings')) {
            this.pages.building = true;
        }else if(url.includes('tovisits')) {
            this.pages.tovisit = true;
        }
        }
    }
}
</script>