<template>
    <div>
        <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>
        <h2>Visits</h2>
            <form @submit.prevent="addVisit" class="mb-3">
            
                <div class="form-group">
                <label for="visittype">Type Of Visit</label>
                <input type="text" name="visittype" v-bind:class="{ 'invalid' : errors.TypeOfVisit}" class="form-control" v-model="visit.TypeOfVisit">
                </div>

                <div class="alert alert-danger" v-if="duplicate === true">
                        Visit Type Already Exists!
                </div>
                 <div class="alert alert-success" v-else-if="duplicate === false">
                        Successfully {{ status }}
                </div>
                <button type="submit" class="btn btn-primary">{{btnName}} Visit Type</button>
        </form>
          <br>
          <ul class="pagination">
            <li class="page-item" v-bind:class="{disabled: !pagination.prev_page_url}"><a class="page-link" href="#" v-on:click="getAllTypeOfVisits(pagination.prev_page_url)">Previous</a></li>
            <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{ pagination.current_page }} of {{ pagination.last_page }}</a></li>
            <li class="page-item" v-bind:class="{disabled: !pagination.next_page_url}"><a class="page-link" href="#"  v-on:click="getAllTypeOfVisits(pagination.next_page_url)">Next</a></li>
</ul>
        <table class="table table-hover">
    <thead>
      <tr>
        <th>Type Of Visit ID</th>
        <th>Type Of Visit</th>
        <th>Created Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="visit in visits" v-bind:key="visit.TypeOfVisitID">
          <td>{{ visit.TypeOfVisitID }}</td>
          <td>{{ visit.TypeOfVisit }}</td>
          <td>{{ visit.created_at }}</td>
          <td><button type="button" class="btn btn-primary" v-on:click="editVisit(visit)">Edit</button> <button type="button" class="btn" v-on:click="deletePrompt(visit)">Delete</button></td>
          
      </tr>
    </tbody>
  </table>
  <sweet-modal icon="success" ref="added">
      {{status}} Successfully!
    </sweet-modal>
  <sweet-modal icon="success" ref="success">
      Deleted Successfully!
    </sweet-modal>
  <sweet-modal ref="modal">
      Are you sure?
      <button slot="button" class="btn btn-success" @click="deleteVisit()">Yes</button>
      <button slot="button" class="btn btn-danger" style="margin-left:10px" @click="closeModal()">No</button>
      </sweet-modal>
    </div>
</template>

<script>

//import sweet modal for alerts
import { SweetModal, SweetModalTab } from 'sweet-modal-vue'
// Import component
import Loading from 'vue-loading-overlay';
    // Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    components: {
		SweetModal,
        SweetModalTab,
        Loading
	},
    data() {
        return {
            visits:[],
            visit: {
                'TypeOfVisitID':'',
                'TypeOfVisit':''
            },
            selectedId:'',
            errors: [],
            duplicate: null,
            pagination: {},
            auth: {
                'auth_token':''
            },
            edit:false,
            status: '',
            btnName:'Add',
            isLoading: false,
            fullPage: true
        }
    },

    //initialize methods to run at the start of component
    created() {
        this.checkifLogged();
    },

    methods: {
         LoadingToggle() {
                if(this.isLoading) {
                    this.isLoading = false;
                } else {
                    this.isLoading = true;
                }
            },
        //check if user is logged in
        checkifLogged() {
            this.LoadingToggle();
             fetch('api/logged')
        .then(res => res.json())
        .then(res => {
            if(res.data) {
                this.auth.auth_token = res.auth_token;
                this.getAllTypeOfVisits('', true);
            } else {
                window.location.href = '/'
            }})
        },

        //get all visits
        getAllTypeOfVisits(page_url, isFirst) {
            let vm = this;
            page_url = page_url || '/api/paginatedvisits';
            fetch(page_url)
            .then(res => res.json())
            .then(res => { 
                console.log(res)
                this.visits = res.data 
                vm.makePagination(res);
                if(isFirst) {
                this.LoadingToggle();
                 }
                })
        },

        //handles the updating and adding of the visits
        addVisit() {
            this.duplicate = null;
            if(this.edit == false) {
                fetch('api/tovisits', {
                method: 'POST',
                body: JSON.stringify(this.visit),
                headers: {
                    'content-type':'application/json'
                }
            }).then(res => res.json())
            .then(res => {
                console.log(res)
                this.errors = res
                if(res.Success) {
                    this.status = "Added!";
                    this.duplicate = false;
                    this.emptyFields();
                    this.getAllTypeOfVisits();
                    this.successPrompt();
                } else if(res.Error) {
                   this.duplicate = true;
                }
            })
            } else {
                fetch('api/tovisits/' + this.visit.TypeOfVisitID, {
                method: 'PUT',
                body: JSON.stringify(this.visit),
                headers: {
                    'content-type':'application/json'
                }
            }).then(res => res.json())
            .then(res => {
                console.log(res)
                this.errors = res
                if(res.Success) {
                    this.status = "Updated!";
                    this.duplicate = false;
                    this.emptyFields();
                    this.getAllTypeOfVisits();
                    this.successPrompt();
                } else if(res.Error) {
                   this.duplicate = true;
                }
            })
            }
        },

        //empty fields of the form
        emptyFields() {
                    this.visit.TypeOfVisitID = '';
                    this.visit.TypeOfVisit = '';
                    this.btnName = 'Add';
                    this.edit = false;
        },

        //a success alert for adding and updating
        successPrompt() {
            this.$refs.added.open();
        },

        //populate the form for editing
        editVisit(selectedVisit) {
            this.visit.TypeOfVisitID = selectedVisit.TypeOfVisitID;
            this.visit.TypeOfVisit = selectedVisit.TypeOfVisit;
            this.btnName = 'Edit';
            this.edit = true;
        },
        
        resetFormError() {
            this.duplicate = null;
            this.errors = {};
        },

        //an alert for deletion confirmation
        deletePrompt(selectedVisit) {        
        this.selectedId = selectedVisit.TypeOfVisitID;
        this.emptyFields();
        this.resetFormError();
        this.$refs.modal.open();
        },

        //deletion of visits calls to api
        deleteVisit() {
            fetch('api/tovisits/' + this.selectedId, {
                method: 'DELETE',
                headers: {
                    'content-type':'application/json'
                }
        }).then(res => res.json())
        .then(res => {
            this.$refs.modal.close();
            this.getAllTypeOfVisits()
            this.$refs.success.open();
        }) 
        },

        //closes the modal
        closeModal() {
            this.$refs.modal.close();
        },

        //handles the pagination of data
        makePagination(meta) {
            let pagination = {
                current_page: meta.current_page,
                last_page: meta.last_page,
                next_page_url:meta.next_page_url,
                prev_page_url:meta.prev_page_url
            };
            this.pagination = pagination;
        }
    }
}
</script>