<template>
    <div>
        <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>
        <h2>Users</h2>
            <form @submit.prevent="addUser" class="mb-3">
            
                <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" v-bind:class="{ 'invalid' : errors.Username}" class="form-control" v-model="user.Username">
                </div>

                <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" v-bind:class="{ 'invalid' : errors.Password}" class="form-control" v-model="user.Password">
                </div>

                <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" v-bind:class="{ 'invalid' : errors.Email}" class="form-control" v-model="user.Email">
                </div>

                 <div class="form-group">
                <label for="email">Contact</label>
                <input type="text" name="contact" v-bind:class="{ 'invalid' : errors.Contact}" class="form-control" v-model="user.Contact">
                </div>

                <div class="form-group">
                <label for="type">User Type</label>
                <select name="type" class="form-control" v-bind:class="{ 'invalid' : errors.UserTypeID}" v-model="user.UserTypeID">
                    <option v-for="type in types" v-bind:key="type.UserTypeID" v-bind:value="type.UserTypeID">
                        {{ type.UserType }}
                    </option>
                </select>
                </div>

                <div class="form-group">
                <label for="build">Building</label>
                <select name="build" class="form-control" v-bind:class="{ 'invalid' : errors.BuildingID}" v-model="user.BuildingID">
                    <option v-for="building in buildings" v-bind:key="building.BuildingID" v-bind:value="building.BuildingID">
                        {{ building.BuildingName }}
                    </option>
                </select>
                </div>
                <div class="alert alert-danger" v-if="duplicate === true">
                        User Already Exists!
                </div>
                 <div class="alert alert-success" v-else-if="duplicate === false">
                        Successfully {{ status }}
                </div>
                <button type="submit" class="btn btn-primary">{{btnName}} User</button>
        </form>
          <br>
          <ul class="pagination">
            <li class="page-item" v-bind:class="{disabled: !pagination.prev_page_url}"><a class="page-link" href="#" v-on:click="getAllUsers(pagination.prev_page_url)">Previous</a></li>
            <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{ pagination.current_page }} of {{ pagination.last_page }}</a></li>
            <li class="page-item" v-bind:class="{disabled: !pagination.next_page_url}"><a class="page-link" href="#"  v-on:click="getAllUsers(pagination.next_page_url)">Next</a></li>
</ul>
        <table class="table table-hover">
    <thead>
      <tr>
        <th>UserID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Contact</th>
        <th>User Type</th>
        <th>Building</th>
        <th>Date Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="user in users" v-bind:key="user.UserID">
          <td>{{ user.UserID }}</td>
          <td>{{ user.Username }}</td>
          <td>{{ user.Email }}</td>
          <td>{{ user.Contact }}</td>
          <td>{{ user.UserTypeData.UserType }}</td>
          <td><span v-if="user.BuildingData.BuildingName !== null">{{ user.BuildingData.BuildingName }}</span></td>
          <td>{{ user.created_at }}</td>
          <td><button type="button" class="btn btn-primary" v-on:click="editUser(user)">Edit</button> <button type="button" class="btn" v-on:click="deletePrompt(user)">Delete</button></td>
          
      </tr>
    </tbody>
  </table>
   <sweet-modal icon="success" ref="added">
      {{status}} Successfully!
    </sweet-modal>
  <sweet-modal icon="success" ref="success">
      Deleted Successfully!
    </sweet-modal>
  <sweet-modal ref="modal">
      Are you sure?
      <button slot="button" class="btn btn-success" @click="deleteUser()">Yes</button>
      <button slot="button" class="btn btn-danger" style="margin-left:10px" @click="closeModal()">No</button>
      </sweet-modal>
    </div>
</template>

<script>

//import sweet modal to be used on alerts
import { SweetModal, SweetModalTab } from 'sweet-modal-vue'
// Import component
import Loading from 'vue-loading-overlay';
    // Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
    components: {
		SweetModal,
        SweetModalTab,
        Loading
	},
    data() {
        return {
            users:[],
            user: {
                'UserID':'',
                'Username':'',
                'Password':'',
                'Email':'',
                'Contact':'',
                'UserTypeID':'',
                'BuildingID':'',
            },
            selectedId:'',
            types: [],
            type: {
                'UserTypeID':'',
                'UserType': '',
                'UserTypeData':'',
                'Description':''
            },
            buildings: [],
            building: {
                'BuildingID':'',
                'BuildingData':'',
                'BuildingName':'',
                'Description':''
            },
            errors: [],
            duplicate: null,
            pagination: {},
            auth: {
                'auth_token':''
            },
            edit:false,
            status: '',
            btnName:'Add',
            isLoading: false,
            fullPage: true
        }
    },

    //initialize all that needed when the component is created
    created() {
        this.checkifLogged();
        this.getAllTypes();
        this.getAllBuildings();
    },
    
    methods: {
        LoadingToggle() {
                if(this.isLoading) {
                    this.isLoading = false;
                } else {
                    this.isLoading = true;
                }
            },
        //Check if user is logged in
        checkifLogged() {
            this.LoadingToggle();
             fetch('api/logged')
        .then(res => res.json())
        .then(res => {
            if(res.data) {
                this.auth.auth_token = res.auth_token;
                this.getAllUsers('',true);
            } else {
                window.location.href = '/'
            }})
        },
        //Get all users using API
        getAllUsers(page_url, isFirst) {
            let vm = this;
            page_url = page_url || '/api/users';
            fetch(page_url)
            .then(res => res.json())
            .then(res => { 
                this.users = res.data 
                vm.makePagination(res);
                if(isFirst) {
                this.LoadingToggle();
             }
                })
        },
        //Get all User Types using API
        getAllTypes() {
            fetch('api/types')
            .then(res => res.json())
            .then(res => {this.types = res})
        },
        //Get all Buildings using API
        getAllBuildings() {
            fetch('api/buildings')
            .then(res => res.json())
            .then(res => {this.buildings = res})
        },

        //This handles the Adding and update of the users
        addUser() {
            this.duplicate = null;
            if(this.edit == false) {
                fetch('api/users', {
                method: 'POST',
                body: JSON.stringify(this.user),
                headers: {
                    'content-type':'application/json'
                }
            }).then(res => res.json())
            .then(res => {
                console.log(res)
                this.errors = res
                if(res.Success) {
                    this.status = "Added!";
                    this.duplicate = false;
                    this.emptyFields();
                    this.getAllUsers();
                    this.addedPrompt();
                } else if(res.Error) {
                   this.duplicate = true;
                }
            })
            } else {
                fetch('api/users/' + this.user.UserID, {
                method: 'PUT',
                body: JSON.stringify(this.user),
                headers: {
                    'content-type':'application/json'
                }
            }).then(res => res.json())
            .then(res => {
                console.log(res)
                this.errors = res
                if(res.Success) {
                    this.status = "Updated!";
                    this.duplicate = false;
                    this.emptyFields();
                    this.getAllUsers();
                    this.addedPrompt();
                } else if(res.Error) {
                   this.duplicate = true;
                }
            })
            }
        },

        //display a success alert if added successful
        addedPrompt() {
            this.$refs.added.open();
        },

        //empty fields of the form and the current user data
        emptyFields() {
                    this.user.UserID = '';
                    this.user.Username = '';
                    this.user.Password = '';
                    this.user.Email = '';
                    this.user.Contact = '';
                    this.user.UserTypeID = '';
                    this.user.BuildingID = '';
                    this.user.auth_token = '';
                    this.btnName = 'Add';
                    this.edit = false;
        },

        //fill the form using user data to be used in editing later on
        editUser(selectedUser) {
            this.user.UserID = selectedUser.UserID;
            this.user.Username = selectedUser.Username;
            this.user.Password = selectedUser.Password;
            this.user.Email = selectedUser.Email;
            this.user.Contact = selectedUser.Contact;
            this.user.UserTypeID = selectedUser.UserTypeID;
            this.user.BuildingID = selectedUser.BuildingID;
            this.user.auth_token = selectedUser.auth_token;
            this.btnName = 'Edit';
            this.resetFormError();
            this.edit = true;
        },
         //reset form errors
        resetFormError() {
            this.duplicate = null;
            this.errors = {};

        },
        //a confirmation for deletion
        deletePrompt(selectedUser) {    
        this.selectedId = selectedUser.UserID;
        this.resetFormError();
        this.emptyFields();
        this.$refs.modal.open();
        },

        //method that calls to the API to proceed with the deletion
        deleteUser() {
            fetch('api/users/' + this.selectedId, {
                method: 'DELETE',
                headers: {
                    'content-type':'application/json'
                }
        }).then(res => res.json())
        .then(res => {
            this.$refs.modal.close();
            this.getAllUsers()
            this.$refs.success.open();
        }) 
        },
        
        //close the modal
        closeModal() {
            this.$refs.modal.close();
        },

        //handles the pagination of the data
        makePagination(meta) {
            let pagination = {
                current_page: meta.current_page,
                last_page: meta.last_page,
                next_page_url:meta.next_page_url,
                prev_page_url:meta.prev_page_url
            };
            this.pagination = pagination;
        }
    }
}
</script>