<template>
    <div>
        <loading :active.sync="isLoading" 
        :is-full-page="fullPage"></loading>
        <h2>User Types</h2>
            <form @submit.prevent="addUserType" class="mb-3">
            
                <div class="form-group">
                <label for="usertype">User Type</label>
                <input type="text" name="usertype" v-bind:class="{ 'invalid' : errors.UserType}" class="form-control" v-model="usertype.UserType">
                </div>

                <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" v-bind:class="{ 'invalid' : errors.Description}" class="form-control" v-model="usertype.Description">
                </div>

                <div class="alert alert-danger" v-if="duplicate === true">
                        User Type Already Exists!
                </div>
                 <div class="alert alert-success" v-else-if="duplicate === false">
                        Successfully {{ status }}
                </div>
                <button type="submit" class="btn btn-primary">{{btnName}} User Type</button>
        </form>
          <br>
          <ul class="pagination">
            <li class="page-item" v-bind:class="{disabled: !pagination.prev_page_url}"><a class="page-link" href="#" v-on:click="getAllUserTypes(pagination.prev_page_url)">Previous</a></li>
            <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{ pagination.current_page }} of {{ pagination.last_page }}</a></li>
            <li class="page-item" v-bind:class="{disabled: !pagination.next_page_url}"><a class="page-link" href="#"  v-on:click="getAllUserTypes(pagination.next_page_url)">Next</a></li>
</ul>
        <table class="table table-hover">
    <thead>
      <tr>
        <th>User Type ID</th>
        <th>User Type</th>
        <th>Description</th>
        <th>Created Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="usertype in usertypes" v-bind:key="usertype.UserTypeID">
          <td>{{ usertype.UserTypeID }}</td>
          <td>{{ usertype.UserType }}</td>
          <td>{{ usertype.Description }}</td>
          <td>{{ usertype.created_at }}</td>
          <td><button type="button" class="btn btn-primary" v-on:click="editUserType(usertype)">Edit</button> <button type="button" class="btn" v-on:click="deletePrompt(usertype)">Delete</button></td>
          
      </tr>
    </tbody>
  </table>
  <sweet-modal icon="success" ref="success">
      Deleted Successfully!
    </sweet-modal>
    <sweet-modal icon="success" ref="added">
      {{status}} Successfully!
    </sweet-modal>
  <sweet-modal ref="modal">
      Are you sure?
      <button slot="button" class="btn btn-success" @click="deleteUserType()">Yes</button>
      <button slot="button" class="btn btn-danger" style="margin-left:10px" @click="closeModal()">No</button>
      </sweet-modal>
    </div>
</template>

<script>

//import sweet modal to be used on alerts
import { SweetModal, SweetModalTab } from 'sweet-modal-vue'
// Import component
import Loading from 'vue-loading-overlay';
    // Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    components: {
		SweetModal,
        SweetModalTab,
        Loading
	},
    data() {
        return {
            usertypes:[],
            usertype: {
                'UserTypeID':'',
                'UserType':'',
                'Description' : ''
            },
            selectedId:'',
            errors: [],
            duplicate: null,
            pagination: {},
            auth: {
                'auth_token':''
            },
            edit:false,
            status: '',
            btnName:'Add',
            isLoading: false,
            fullPage: true
        }
    },

    //initialize the needed methods at the start of the component
    created() {
        this.checkifLogged();
    },

    methods: {
         LoadingToggle() {
                if(this.isLoading) {
                    this.isLoading = false;
                } else {
                    this.isLoading = true;
                }
            },
        //check if user is logged in
        checkifLogged() {
            this.LoadingToggle();
             fetch('api/logged')
        .then(res => res.json())
        .then(res => {
            if(res.data) {
                this.auth.auth_token = res.auth_token;
                this.getAllUserTypes('', true);
            } else {
                window.location.href = '/'
            }})
        },

        //get all user types
        getAllUserTypes(page_url, isFirst) {
            let vm = this;
            page_url = page_url || '/api/paginatedtypes';
            fetch(page_url)
            .then(res => res.json())
            .then(res => { 
                console.log(res)
                this.usertypes = res.data 
                vm.makePagination(res);
                if(isFirst) {
                this.LoadingToggle();
                 }
                })
        },

        //handles the updating and adding of the user types
        addUserType() {
            this.duplicate = null;
            if(this.edit == false) {
                fetch('api/types', {
                method: 'POST',
                body: JSON.stringify(this.usertype),
                headers: {
                    'content-type':'application/json'
                }
            }).then(res => res.json())
            .then(res => {
                console.log(res)
                this.errors = res
                if(res.Success) {
                    this.status = "Added!";
                    this.duplicate = false;
                    this.emptyFields();
                    this.getAllUserTypes();
                    this.addedPrompt();
                } else if(res.Error) {
                   this.duplicate = true;
                }
            })
            } else {
                fetch('api/types/' + this.usertype.UserTypeID, {
                method: 'PUT',
                body: JSON.stringify(this.usertype),
                headers: {
                    'content-type':'application/json'
                }
            }).then(res => res.json())
            .then(res => {
                console.log(res)
                this.errors = res
                if(res.Success) {
                    this.status = "Updated!";
                    this.duplicate = false;
                    this.emptyFields();
                    this.getAllUserTypes();
                    this.addedPrompt();
                } else if(res.Error) {
                   this.duplicate = true;
                }
            })
            }
        },

        //empty fields of the form and the current user data
        emptyFields() {
            this.usertype.UserTypeID = '';
                    this.usertype.UserType = '';
                    this.usertype.Description = '';
                    this.btnName = 'Add';
                    this.edit = false;
        },

        //display a success alert if added successful
        addedPrompt() {
            this.$refs.added.open();
        },

        //populate the form for editing
        editUserType(selectedUserType) {
            this.usertype.UserTypeID = selectedUserType.UserTypeID;
            this.usertype.UserType = selectedUserType.UserType;
            this.usertype.Description = selectedUserType.Description;
            this.btnName = 'Edit';
            this.resetFormError();
            this.edit = true;
        },
        
        //reset form errors
        resetFormError() {
            this.duplicate = null;
            this.errors = {};

        },
        //a confirmation of deletion
        deletePrompt(selectedUserType) {        
        this.selectedId = selectedUserType.UserTypeID;
        this.resetFormError();
        this.emptyFields();   
        this.$refs.modal.open();
        
        },

        //calls to api for the deletion of the selected user
        deleteUserType() {
            fetch('api/types/' + this.selectedId, {
                method: 'DELETE',
                headers: {
                    'content-type':'application/json'
                }
        }).then(res => res.json())
        .then(res => {
            this.$refs.modal.close();
            this.getAllUserTypes()
            this.$refs.success.open();
        }) 
        },

        //close the modal
        closeModal() {
            this.$refs.modal.close();
        },

        //handles the pagination
        makePagination(meta) {
            let pagination = {
                current_page: meta.current_page,
                last_page: meta.last_page,
                next_page_url:meta.next_page_url,
                prev_page_url:meta.prev_page_url
            };
            this.pagination = pagination;
        }
    }
}
</script>